/* ---------------------------------BARRA DE NAVEGACIÓN FIJA------------------------------- */
/* Estilo para la barra de navegación fija */
#barra-navegacion {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    height: 60px; /* Ajusta la altura de tu barra de navegación */
}

/* ---------------------------------PORTADA------------------------------- */
/* Estilos específicos para la imagen de la portada */
#portada {
    background-image: url(fondoTablas1.jpg);
}

.mi-div-portada {
    padding: 20px; /* Espacio alrededor del div */
    border-bottom: 10px; /* Borde redondeado */
    width: 100%; /* Cambiado a un ancho del 100% */
    max-width: 1200px; /* Ancho máximo para evitar que se agrande en exceso */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos personalizados para el recuadro de café */
.cafe-recuadro {
    background-color: #120c0b; /* Color café oscuro */
    padding: 10px; /* Espacio alrededor del recuadro */
    border-radius: 10px; /* Borde redondeado */
    width: 80%; /* Cambiado a un ancho del 80% */
    max-width: 800px; /* Ancho máximo para evitar que se agrande en exceso */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos personalizados para el texto dentro del recuadro */
.texto-blanco {
    color: white; /* Texto en color blanco */
    font-size: 24px; /* Tamaño de fuente */
    font-family: "Perpetua", sans-serif;
}

/* ---------------------------------NUESTRA HISTORIA------------------------------- */
/* Estilos para la sección Nuestra Historia */
#nuestra-historia {
    background-color: #120c0b; /* Cambia el color de fondo según tu preferencia */
    padding: 50px;
}

/* Estilos para la imagen en la sección Nuestra Historia */
#nuestra-historia img {
    margin: 20px;
    max-width: 100%; /* Cambiado a un ancho máximo del 100% */
    height: auto;
}

/* Estilos para la columna derecha (Texto) */
#nuestra-historia .text-left {
    font-size: 50px; /* Tamaño de fuente del subtítulo "Nuestra Historia" */
    color: #fff; /* Color del texto del subtítulo */
}

#nuestra-historia h4.text-center {
    font-size: 40px; /* Tamaño de fuente del subtítulo "CÓMO EMPEZAMOS?" */
    color: #fff; /* Color del texto del subtítulo */
    font-family: "Perpetua", sans-serif;
}

#nuestra-historia p.text-center {
    font-size: 28px; /* Tamaño de fuente del texto de descripción */
    color: #ccc; /* Color del texto de descripción */
    margin-top: 40px; /* Espacio superior */
    font-family: "Perpetua", sans-serif;
}

/* Espaciado vertical entre el subtítulo "Nuestra Historia" y el subtítulo "CÓMO EMPEZAMOS?" */
#nuestra-historia h3 {
    margin-bottom: 20px;
}

/* ---------------------------------CAFÉ------------------------------- */
/* Estilos para la sección Café */
#cafe {
    background-color: #f5deb3; /* Color de fondo beige */
    padding: 10px; /* Espaciado interno */
}

/* Estilos para la columna derecha (Texto) */
#cafe .text-left {
    font-size: 50px; /* Tamaño de fuente del subtítulo "Cafe" */
    color: #211210; /* Color del texto del subtítulo */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para la columna del centro (Texto) */
#cafe .text-center {
    font-size: 40px; /* Tamaño de fuente del subtítulo "Cafe" */
    color: #211210; /* Color del texto del subtítulo */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para las imágenes en la sección Café */
#cafe img {
    max-width: 100%; /* Ajustar imágenes al ancho de su contenedor */
    height: 70%; /* Mantener proporciones de aspecto */
    border: 2px solid #d2b48c; /* Borde alrededor de las imágenes */
    border-radius: 0; /* Borde redondeado */
    margin-bottom: 0; /* Espacio inferior entre las imágenes */
}

/* Estilos para el texto en la sección Café */
#cafe h4 {
    font-size: 24px; /* Tamaño de fuente para los títulos de café */
    color: #8b4513; /* Color de texto marrón */
}

#cafe p {
    font-size: 16px; /* Tamaño de fuente para las descripciones */
    color: #333; /* Color de texto oscuro */
}

/* ---------------------------------MENÚ------------------------------- */
/* Estilos para la sección Menú */
#menu {
    background-color: #120c0b; /* Color de fondo café oscuro */
    padding: 50px; /* Espaciado interno */
}

/* Estilos para las imágenes en la sección Menú */
#menu img {
    max-width: 100%; /* Ajustar imágenes al ancho de su contenedor */
    height: auto; /* Mantener proporciones de aspecto */
    border: 2px solid #8b4513; /* Borde de color café */
    border-radius: 5px; /* Borde redondeado */
    margin-bottom: 10px; /* Espacio inferior entre las imágenes */
}

/* Estilos para el texto en la sección Menú */
#menu h4 {
    font-size: 24px; /* Tamaño de fuente para los títulos de producto */
    color: #fff; /* Color de texto blanco */
}

/* Estilos para los títulos de las filas */
#menu h2 {
    font-size: 36px; /* Tamaño de fuente para los títulos de fila */
    color: #fff; /* Color de texto blanco */
    margin-bottom: 20px; /* Espacio inferior entre los títulos y los elementos */
}

#menu p {
    font-size: 16px; /* Tamaño de fuente para las descripciones */
    color: #ffffff; /* Color de texto oscuro */
}

/* ---------------------------------DONDE ENCONTRARNOS------------------------------- */
/* Estilos para la sección Dónde Encontrarnos */
#donde-encontrarnos {
    background-color: #efd9b0; /* Color de fondo */
    padding: 50px; /* Espaciado interno */
}

/* Estilos para el título "DÓNDE ENCONTARNOS?" */
#donde-encontrarnos h2 {
    color: #120c0b; /* Color del texto del título */
    font-size: 36px; /* Tamaño de fuente del título */
    text-align: left; /* Alineación del título a la izquierda */
    margin-bottom: 20px; /* Espacio inferior */
    margin-top: 0; /* Espacio superior */
}

/* Estilos para la columna izquierda (Descripción y Redes Sociales) */
#donde-encontrarnos .col-md-6 {
    color: #120c0b; /* Color del texto */
}

/* Estilos para el subtítulo "¡Nos Encanta Tener Nuevos Clientes!" */
#donde-encontrarnos h3 {
    font-size: 30px; /* Tamaño de fuente del subtítulo */
    padding: 10px; /* Espaciado interno */
}

/* Estilos para el párrafo de descripción */
#donde-encontrarnos .descripcion {
    font-size: 24px; /* Tamaño de fuente de la descripción */
    margin-top: 5px; /* Espacio superior */
    text-align:center;
}

/* Estilos para las redes sociales */
#donde-encontrarnos .redes-sociales img {
    width: 50px; /* Ancho de las imágenes de redes sociales */
    margin-right: 30px; /* Espacio derecho entre las imágenes */
    margin-top: 60px; /* Espacio superior */
}

/* Estilos para la columna derecha (Video) */
#donde-encontrarnos video {
    max-width: 100%; /* Ancho máximo del video */
    padding: 10px; /* Espaciado interno */
}
